{% extends 'main.html' %}
{% block content %}
<div class="container home">
    <div class="blog" >
    <div class="card shadow-lg border-2 rounded-lg mt-0 mb-3">
        <div class="card-header justify-content-center">
            <h3 class="font-weight-light my-4 text-center">Read history</h3>
        </div>
        {% for blog in read_history %}
            <a class="nav-link" href="{% url 'blog' blog.id %}">
            <div class="header_and_image">
                <div>
                    <h3>{{ blog.title }}</h3>
                </div>
                <div>
                {% if blog.header_image %}
                    <p><img src="{{ blog.header_image.url  }}" alt="" style="width: 50%; margin-left: 90px;"></p>
                {% endif %}
                </div>
            </div>
            </a>
            <ul>
                <li>
                    <a class="col-md-4s btn btn-dark" href="{% url 'delete_read_history' blog.id %}">DELETE</a>
                </li>
            </ul>
        
            <hr>
        {% endfor %}
    </div>
    </div>
</div>

{% endblock %}