
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create_blog' %}">CREATE A BLOG</a>
          </li>
        </ul>
          {% if request.user.is_authenticated %}
          <li class="d-flex">
            <div class="dropdown">
              
              
                <img class="dropdown-toggle" data-bs-toggle="dropdown" src="{{ user.profile.profile_pic.url }}" alt="" style="vertical-align: middle; width: 50px; height: 50px; border-radius: 50%;">
              
                <ul class="dropdown-menu dropdown-menu-lg-end">
                <li><a class="dropdown-item" href="{% url 'user-profile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'history' %}">History</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
              </ul>
            </div>
          </li> <li class="d-flex">

          </li>
          {% else %}
            <li class="d-flex">
              <h4><a class="nav-link" href="{% url 'login' %}" tabindex="-1">login</a></h4>
            </li>

          {% endif %}
        
      </div>
    </div>
  </nav>
